body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    height: 100%;
    background: #84CFB9;
    background: radial-gradient(circle farthest-corner at right center, #84CFB9 12%, #0A59CF 100%);
  }
  
  ol, ul {
    padding-left: 30px;
  }
